---
title: Services
heading: The perfect provider for your home
description: All our work is covered by professional liability insurance.
pricing_table:
  - name: Repairs & Servicing
    color: "#4182e4"
    features:
      - text: Boiler faults
        highlight: false
      - text: Gas leaks
        highlight: false
      - text: Central heating wiring faults
        highlight: false
      - text: Pressure issues
        highlight: false

      - text: Radiator faults
        highlight: false
    call_to_action:
      link: http://mysite.com?plan=basic
      text: Get started
  - name: Installations
    color: "#4a4a4a"
    features:
      - text: New boilers
        highlight: false
      - text: Full central heating
        highlight: false
      - text: Gas fires
        highlight: false
      - text: Cookers / Hobs
        highlight: false
      - text: Central heating controls
        highlight: false

    call_to_action:
      link: http://mysite.com?plan=pro
      text: Get started
  - name: Safety Certificates
    color: "#4182e4"
    features:
      - text: Boilers
        highlight: false
      - text: Water heaters
        highlight: false
      - text: Gas fires
        highlight: false
      - text: Cookers / Hobs
        highlight: false
      - text: Unvented cylinders
        highlight: false


    call_to_action:
      link: http://mysite.com?plan=professional
      text: Get started
faq:
  - question: Do you provide safety checks for landlords?
    answer: Yes, we can carry out annual landlord gas safety inspections of various appliances at your property, with certificates provided.
  - question: Do you inspect a property I am buying?
    answer: Yes, we can provide a report and test the safety and condition of any gas or central heating appliancies in the property.
  - question: Do you charge for quotations?
    answer: We can provide you with a free quote on routine work. If this is a more complex job it may require a survey and would have a charge, but we would let you know of this beforehand.
  - question: Questions?
    answer: Contact us for any further questions from our <a href="/contact">contact page</a>.
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Services FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
